.ss{
    display: flex; 
}
.logo{
    color: white;
}
.loggg{
    margin-top: -50px;
}
.mute{
    clip-path: circle(50%);
    width: 80px;
    height: 80px;
}
.exit{
    margin-left: 100px;
    clip-path: circle(50%);
    width: 80px;
    height: 80px;
}
.splash{
    /* background-image: url('https://i.imgur.com/8Q6Q5QD.jpg */
    width: 500px;
    height: 500px;
    margin-left: 31%;
    margin-top: -50px;
    clip-path: circle(50%);
}
.bgg{
    background-image: url('C:\Users\priya\Desktop\New folder (2)\task\public\splash-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 650px;
}
.center{
    position: absolute;
            top: 60%; 
            left: 50%; 
            transform: translate(-50%, -50%); 
            color: white; 
            font-size: 18px; 
            font-weight: bold; 
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
            text-align: center; 
            padding: 8px; 
}