.video-container {
    text-align: center;
    padding: 50px;
    background-color: #000; 
    color: white;
  }
  
  .video-footer {
    margin-top: 20px;
  }
  
  .back-button {
    padding: 10px 20px;
    background-color: #1ac7c5;
    color: white;
    border: none;
    cursor: pointer;
  }
  .bg-image{
    background-image: url('C:\Users\priya\Desktop\New folder (2)\task\public\common-bg.jpg');
    height: 650px;
}